
<app-loader></app-loader>

<div class="app-container app-is-mobile">
  <app-header></app-header>

  <div class="container-fluid">
    <app-breadcrumbs></app-breadcrumbs>

    <div class="row main-content ">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <h1>{{'ERRORS.APPLICATION_ERROR' | translate}}</h1>

        <section *ngIf="appError" class="error-info">
          <h4>{{appError.title}}</h4>

          <code *ngFor="let line of appError.stackTrace">{{line}}</code>
        </section>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
